<section class="inRequests inRequests__step1 hidden">
  <span class="inRequests__id hidden"></span>
  <form class="inRequests__form flex" action="/" method="post">
    <h2 class="title">Informations du demandeur</h2>
    <span class="inRequests__form__applicantInfo flex">
      <select class="inRequests__form__applicantInfo__location input" required="true">
        <% for(const [i, location] of locations.entries()) { %>
          <option value="<%= i + 1 %>"><%= location %></option>
        <% } %>
      </select>
      <input class="inRequests__form__applicantInfo__name input" type="text" placeholder="Nom du demandeur..." required="true">
      <input class="inRequests__form__applicantInfo__firstname input" type="text" placeholder="Prénom du demandeur..." required="true">
    </span>
    <span class="inRequests__form__requestInfo flex">
      <h2 class="title">Contenu de la demande</h2>
      <span class="inRequests__form__requestInfo__row1 flex">
        <select class="inRequests__form__requestInfo__row1__status input hidden" type="text" placeholder="Statut..." required="true">
          <option value="waiting">Non attribué</option>
          <option value="wip">En cours</option>
          <option value="done">Terminé</option>
        </select>
        <select class="inRequests__form__requestInfo__row1__assignedWorker input <% if (!isSearchPage) { %>hidden<% } %>" required="true">
          <% if (isSearchPage) { %>
            <% for(const user of users) { %>
              <option value="<%= user.id %>"><%= user.name.toUpperCase() %>, <%= user.firstname %></option>
            <% } %>
          <% }%>
        </select>
        <input class="inRequests__form__requestInfo__row1__requestDate input" type="date" required="true">
        <label>
          Envoyer un mail de notification ?
          <input class="inRequests__form__requestInfo__row1__sendMail input" type="checkbox">
        </label>
      </span>
      <textarea class="inRequests__form__requestInfo__comment flex" rows="8" cols="80"></textarea>
    </span>
    <span class="inRequests__form__btnContainer flex">
      <button class="inRequests__form__btnContainer__reset btn btn--reset" type="reset">Effacer les champs</button>
      <button class="inRequests__form__btnContainer__submit inRequests__step1__btn btn btn--submit" type="submit">Valider</button>
      <button class="inRequests__form__btnContainer__hide inRequests__step1__btn btn home-btn hidden" type="button">Annuler</button>
    </span>
  </form>
</section>
