<!DOCTYPE html>
<html lang="fr" dir="ltr">

<%- include('head'); %>

<body style="background-color: rgba(0, 0, 0, 0.5);">
  <header class="loginHeader flex">
    <label class="lang flex">
      <%= __('sidebar.lang_title') %> :
      <a href="/login?lang=fr-BE">🇫🇷</a>
      <a href="/login?lang=en">🇬🇧</a>
      </select>
    </label>
  </header>
  <main class="wrapper loginWrapper flex">
    <% if (isFirstUserConfigured && isDbConfigured) { %>
    <h1 class="title home__mainTitle"><%= instanceName %></h1>
    <form class="login flex" action="/login" method="post">
      <h1 class="title home__mainTitle"><%= __('login.title') %></h1>
      <label class="flex">
        <%= __('login.mail') %>
        <input class="input" type="email" name="email" placeholder="<%= __('login.mail') %>" required>
      </label>
      <label class="flex">
        <%= __('login.passwd') %>
        <input class="input" type="password" name="password" placeholder="<%= __('form.passwd_generic') %>" required>
      </label>
      <button class="btn home-btn" type="submit"><%= __('login.btn') %></button>
      <% if (typeof messages != 'undefined' && messages.error) { %>
      <p class="warning"><%= messages.error %></p>
      <% } %>
    </form>
    <% } else if (!isDbConfigured && !isFirstUserConfigured) { %>
    <h1 class="title home__mainTitle"><%= instanceName %> - <%= __('config.db') %></h1>
    <%- include('dbConfig'); %>
    <%- include('register',  {registerClass: 'hidden', locations: locations}); %>
    <% } else if (!isDbConfigured && isFirstUserConfigured) { %>
    <h1 class="title home__mainTitle"><%= instanceName %> - <%= __('config.db') %></h1>
    <%- include('dbConfig'); %>
    <% } else { %>
    <h1 class="title home__mainTitle"><%= instanceName %> - <%= __('config.first_admin') %></h1>
    <%- include('register',  {registerClass: 'flex', locations: locations}); %>
    <% } %>
  </main>
  <%- include('scripts'); %>
</body>

</html>
