<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap">
  <style media="screen" type="text/css">
    body {
      font-family: 'Ubuntu', sans-serif;
      padding: 0;
      margin: 0;
    }

    article {
      padding: 1em;
      border-radius: 0.5em;
      margin: auto;
      width: 50%;
      display: block;
    }

    .quote {
      border-left: 2px solid blue;
      padding: 0.5em;
      border-radius: 0.5em;
      margin: 0;
    }
  </style>
</head>

<body>
  <article>
    <% if (gender === 'f') { %>
    <p>Bonjour Madame,</p>
    <% } else if (gender === 'm') { %>
    <p>Bonjour Monsieur,</p>
    <% } else { %>
    <p>Bonjour Madame/Monsieur,</p>
    <% } %>
    <p><%= applicant %> a introduit <a href="http://<%= host %>:8000/search">une nouvelle demande</a> dans le tableau d'intervention concernant le site <strong><%= location %></strong>. En voici le détail :</p>
    <blockquote class="quote"><em><%= request %></em></blockquote>
    <p>Bonne journée,</p>
    <p>Bien à vous,</p>
    <P><%= sender %></p>
  </article>
</body>

</html>
